extends head
block content

    body
    nav
        ul
            img(src="/images/nwa-fcc.svg", width="50px")
            //li
            //li Meet FCC-NWA
            //li Vision
            
    div(id="output")
        h1#eventTitle There are currently no events scheduled for FCC-NWA