extends head
block content

    body
    nav
        ul
            img(src="/images/nwa-fcc.svg", width="50px")
            //li
            //li Meet FCC-NWA
            //li Vision

    div#placeholder
      img(src="/images/welcome-banner.png")
      //h1 Find us on #[a(href="https://www.facebook.com/groups/free.code.camp.fayetteville.arkansas/") Facebook]
      .fb-like(data-share='true', data-width='450', data-show-faces='true')

        button
            a(href="/meetup") Next Event
    footer.social
        .content
            a.github-footer(href='https://github.com/FCC-NWA')
                img(src='images/fi-social-github.svg')
            a.facebook-footer(href='https://www.facebook.com/groups/free.code.camp.fayetteville.arkansas/')
                img(src='images/fi-social-facebook.svg')
