extends head

block content
    body
    div#placeholder
      img(src="/images/welcome-banner.png")
      h1 Find us on #[a(href="https://www.facebook.com/groups/free.code.camp.fayetteville.arkansas/") Facebook]
