doctype html
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Welcome to freeCodeCamp NWA
    link(rel='stylesheet', href='/stylesheets/placeholder.css')
    
  body
    div#placeholder
      img(src="/images/welcome-banner.png")
      h1 Find us on #[a(href="https://www.facebook.com/groups/free.code.camp.fayetteville.arkansas/") Facebook]
    