/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    //background-color: lightgray;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*************************************************************************

  Site:  fccnwa
  Project: placeholder  
  Author:  Roy Penrod
  
  Purpose:  Contains custom CSS to add to the standard reset.

**************************************************************************/

* {
    box-sizing: border-box;    
}



/*************************************************************************

  Site:  fccnwa
  Project: placeholder  
  Author:  Roy Penrod
  
  Purpose:  Contains the base styles for the placeholder.

**************************************************************************/

div#placeholder {
    text-align: center;
    width: 80%;
    margin: 100px auto 0;
}

div#placeholder {
    margin-top: 25px;
}

div#placeholder img {    
    max-width: 1500px;    
    width: 100%;
}

div#placeholder h1 {
    font-family:  Helvetica, Arial, sans-serif;
    font-size: 3em;
    //margin-top: 230px;
}

div#placeholder a:link {
    text-decoration: none;
    color: darkblue;
}

div#placeholder a:visited {
    color: darkblue;
}

div#placeholder a:hover {
    color: green;
}

div#placeholder a:active {
    color: darkgreen;
}


div#output {
    width: 80%;
    margin: 50px auto;
    margin-top: 27px;
    font-family: monospace;
    font-size: 1.5em;
    border: 1px solid green;
    border-radius: 4px;
    padding: 50px 0 50px 150px;
    background-color: whitesmoke;
    box-shadow: 2px 2px 3px gray;
}

div#output p {
    margin-top: 10px;
    margin-bottom: 10px;
}

#eventTitle {
    font-size: 2.5em;
    padding-bottom: 25px;
    text-shadow: 1px 1px 3px gray;
}

button {
    font-size: 3.0em;
    margin-top: 27px;
    color: darkblue;
    box-shadow: 2px 2px 10px gray;
}

nav {
    border-bottom: 1px solid black;
    font-size: 1.5em;
    padding: 10px;
    color: whitesmoke;
    background-color: #215F1E;
}

li {
    display: inline;
    padding-right: 25px;
}